/* --------- header  */
#header img {
  width: 80px;
}

.text-platzi {
  color: #97c93e !important;
}
/* ---------/header  */


/* --------- carousel & overlay  */
.carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.overlay .container,
.overlay .row {
  height: 100%;
}

.btn-platzi {
  background-color: #97c93e;
  color: white;
}

.btn-platzi:hover {
  background-color: #82ad36;
}

/* ---------/carousel & overlay  */


/* ---- footer  */
#footer {
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
  color: white;
}
/* ----/footer  */
