.text-platzi {
  color: #97c93e !important;
}

.btn-platzi {
  background-color: #97c93e;
  color: white;
}

.btn-platzi:hover {
  background-color: #82ad36;
}

#header img {
  width: 80px;
}

.carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
}

#footer {
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
  color: white;
}
